<% if @re_history.nil? || @re_history["processes"].nil? || @re_history["processes"].empty? %>
	<h6 class="left-50 red"><em>Not Processed</em></h6>
<% else %>
	<% @re_history["processes"].each do |re_process| %>
		<div class="clear top-2"></div>
		<div class="left-10 right-5">
			<a class="re-xtra-history-show" href="#<%= re_process["process_id"] %>">
				<span class="float-left re-xtra-history-<%= re_history_status(re_process["process_status"]) %>"></span>
				<span class="re-code-small float-left">V.<%= re_process["plan_version"] %></span>
				<span class="re-code-small float-left left-5"><%= re_process["plan_code"] %> </span>
				<span class="re-code-small float-right right-5">	
					<%= re_process["started_at"].nil? ? '' : Time.parse(re_process["started_at"]).strftime('%d %b %Y - %H:%M') %>
				</span>	
			</a>	
			<hr/>	
		</div>		
	<% end %>		
	<% if !@re_history["processes"].empty? && (@re_history["next_page"] || @re_history["previous_page"]) %>
		<a class="re-xtra-history-next-<%= @re_history["next_page"] ? 'enabled' : 'disabled' %>" href='#<%= @re_history["next_page"] || '1' %>'></a>
		<a class="re-xtra-history-prev-<%= @re_history["previous_page"] ? 'enabled' : 'disabled' %>" href='#<%= @re_history["previous_page"] || '1' %>'></a>
	<% end %>
<% end %>