<% re_pipeline_status = re_pipeline_status(@re_pipeline) %>
<% re_pipeline_verify = @re_pipeline.verify %>

<div class="span-16">
  <div class="infobox">
    <div class="span-10">
      <h3 class="pipeline-status-<%= @re_pipeline_verify.blank? ? re_pipeline_status : 'verify' %>"><%=h @re_pipeline.code%></h3>
    </div>  
    <div class="span-5 last">      
      <% if re_pipeline_verify.blank? %>
        <em class="float-right pipeline-status-<%= re_pipeline_status %>"><%= re_pipeline_status.titleize %></em>
      <% else %>
        <em class="float-right pipeline-status-verify"><%= re_pipeline_verify %></em>
      <% end %>    
    </div>    
    
    <div class="clear"></div>

		<div class="span-14 prepend-1 last">
	  	<h5> <%=h @re_pipeline.title%></h5>
    </div>    
    <div class="clear"></div>
  
    <div class="span-12 prepend-2 append-1 last">
      <%=h @re_pipeline.description%>
    </div>
    <div class="clear"></div>
    
  </div>  
  <div class="clear top-5"></div>
</div>
<div class="clear"></div>
