<% set_re_javascript_include 'rules_engine/re_workflow_change' %>
<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), 
											link_to("View Plan", re_plan_path(@re_plan), :class => "re-bc-plan-show"),
											'<span class="re-bc-workflow-change">Edit Workflow</span>'.html_safe %>

<div class="span-22 border">      
	<div class="span-1">
		<div class="re-xtra-plan-title-single"><span>Plan</span></div>
	</div>	
	<div class="span-21 last">
		<div id="re_plan_change">
 			<%= render '/re_plans/show' %>
		</div>	
		
		<div class="span-2 pull-1">
		 	<div class="re-xtra-workflow-title-single"><span>Workflow</span></div>
		</div>
		<div class="span-20 last">
			<div class="re-infobox no-top">
				<div id="re_workflow_change">
	  			<%= render '/re_workflows/show' %>			
				</div>		
				<div class="clear"></div>
			</div>	
			
			<div class="span-2 pull-1">
			 	<div class="re-xtra-rule-title-plural"><span>Rules</span></div>
			</div>	
			<div class="span-19 last">
				<div class="re-infobox no-top">
					<div id="re_rule_change">
						<%= render '/re_workflows/rule_empty', :hide => !@re_workflow.re_rules.empty? %>    

			      <% @re_workflow.re_rules.each do |re_rule | %>
			        <%= render '/re_workflows/rule_change', :re_rule => re_rule, 
																												:re_plan_id => @re_plan.id,
																												:delete_path => re_plan_workflow_rule_path(@re_plan, @re_workflow, re_rule),
																												:move_up_path => move_up_re_plan_workflow_rule_path(@re_plan, @re_workflow, re_rule),
																												:move_down_path => move_down_re_plan_workflow_rule_path(@re_plan, @re_workflow, re_rule),
																												:first_rule => re_rule == @re_workflow.re_rules[0], 
																												:last_rule => re_rule == @re_workflow.re_rules[-1] %>
			      <% end %>
					</div>
					<div class="clear"></div>
		    </div>    
			</div>
			
		</div>
	</div>	
</div>
<div class="span-8 last">      
	<div class="clear top-5"></div>

	<h4>
		<%= link_to("View Plan", re_plan_path(@re_plan), :class => "re-menu-plan-show") %>
	</h4>
	<div class="clear top-5"></div>

	<h4>
		<%= link_to("Edit/Publish Plan", change_re_plan_path(@re_plan), :class => "re-menu-plan-change") %>
	</h4>
	<div class="clear top-5"></div>
	
	<h4>
		<%= link_to("View Workflow", re_plan_workflow_path(@re_plan, @re_workflow), :class => "re-menu-workflow-show") %>
	</h4>
	<div class="clear top-5"></div>
	
	<h4>
		<%= link_to("Copy Workflow", "##{@re_plan.id}|#{@re_workflow.id}", :id => "re_workflow_copy", :class => "re-menu-workflow-copy") %>
	</h4>
	<div class="clear top-5"></div>

	<hr/>
	<div class="clear top-5"></div>

		
  <%= render '/re_workflows/menu', :re_plan_id => @re_plan.id,
																		:delete_path => re_plan_workflow_path(@re_plan, @re_workflow) %>
</div>  
<div class="clear"></div>

