<%#= :create_path => re_workflow_rules_path(@re_workflow) %>
<%#= :cancel_path => change_re_workflow_path(@re_workflow) %>

<div class="clear prepend-1 span-18">
  <h3 class="re-hdr-rule-new"> New : <%= @re_rule.rule.options[:display_name] %></h3>
  <div class="clear top-10"></div>

  <%= re_form_for(@re_rule, :url => create_path, :method => :post, :span => "3x15", :html => {:id => "re_rule_new_form"}) do |f| %>
    <%= hidden_field_tag('rule_class_name', @re_rule.rule_class_name) %>
    <%= f.re_error_on "Unable To Create Rule : #{@re_rule.rule.options[:display_name]}" %>
    <%= re_whitebox do %>        
      <%= render(@re_rule.rule.options[:new_partial], :f => f) %>
      
      <div class="clear"></div>
  	  <%= re_button_submit_green('Create', :id => "re_rule_new_insert") %>
  	  <%= re_button_link_orange('Cancel', cancel_path, :id => "re_rule_new_cancel") %>
    <% end %>
  <% end %>
</div>  
<div class="clear"></div>