<% rule_error = re_rule.rule_error %>
<% local_first_rule = local_assigns[:first_rule] && first_rule  %>
<% local_last_rule = local_assigns[:last_rule] && last_rule  %>

<div class="span-15 last re-rule-change" id="re_rule_change_<%= re_rule.id %>">
  <div class="<%= rule_error.blank? ? 're-bluebox' : 're-redbox' %> re-rule-status-<%= rule_error.blank? ? 'valid' : 'verify' %>">
    <h3 class="float-left"><%= re_rule.title %></h3>
    <div class="float-right top-5">
      <%= link_to("<span>Edit</span>", "##{@re_pipeline.id}|#{re_rule.id}", :class => "re-rule-edit") %>
      <%= link_to("<span>Delete</span>", "##{@re_pipeline.id}|#{re_rule.id}", :class => "re-rule-delete") %>
      <%= link_to("<span>Move Down</span>", "##{@re_pipeline.id}|#{re_rule.id}", :class => "#{local_last_rule ? 're-rule-move-down-off' : 're-rule-move-down'}") %>
      <%= link_to("<span>Move Up</span>", "##{@re_pipeline.id}|#{re_rule.id}", :class => "#{local_first_rule ? 're-rule-move-up-off' : 're-rule-move-up'}") %>
    </div>
    <div class="clear"></div>    
  </div>
  <div class="<%= rule_error.blank? ? 're-bluebox' : 're-redbox' %> no-top"> 
      <div class="span-9">
        <p class="top-5 left-10">
          <%= re_rule.summary %>
        </p>
      </div>
      
      <div class="prepend-9 top-10">
        <% if re_rule.re_rule_expected_outcomes.empty? %>
          <div class="re-rule-continue">Continue</div>
        <% end %>        
        <% unless re_rule.re_rule_expected_outcome_next.nil? %>
          <div class="re-rule-continue">Continue</div>
        <% end %>  
        <% re_rule.re_rule_expected_outcomes_start_pipeline.each do |re_rule_expected_outcome| %>
          <div class="re-rule-start-pipeline">Start : <%= re_rule_expected_outcome.pipeline_code %></div>
        <% end %>  
        <% unless re_rule.re_rule_expected_outcome_failure.nil? %>
          <div class="re-rule-stop-failure">Stop Failure</div>
        <% end %>  
        <% unless re_rule.re_rule_expected_outcome_success.nil? %>
          <div class="re-rule-stop-success">Stop Success</div>
        <% end %>  
      </div>
      <div class="clear"></div>  
    </div>          
</div>

<% unless local_last_rule %>
  <div class="prepend-7 span-2"><div class="re-rule-next-change"></div></div>
<% end %>

<div style="display:none">
  <% re_form_for(re_rule, :url => re_pipeline_re_rule_path(@re_pipeline, re_rule), :html => {:method => :delete, :id => "re_rule_delete_form_#{re_rule.id}"}) do |f| %>
  <% end %>  
  
  <% re_form_for(re_rule, :url => move_up_re_pipeline_re_rule_path(@re_pipeline, re_rule), :html => {:method => :put, :id => "re_rule_move_up_form_#{re_rule.id}"}) do |f| %>
  <% end %>  
  
  <% re_form_for(re_rule, :url => move_down_re_pipeline_re_rule_path(@re_pipeline, re_rule), :html => {:method => :put, :id => "re_rule_move_down_form_#{re_rule.id}"}) do |f| %>
  <% end %>  
</div>  
