<% re_rule_verify = re_rule.verify %>
<% local_new_row = local_assigns[:new_row] && new_row  %>
<% local_last_rule = local_assigns[:last_rule] && last_rule  %>

<% if local_new_row  %>
  <div class="clear top-5"><hr/></div>
  <div class="clear top-5"></div>
<% end %>

<div class="span-6 <%= local_new_row ? 'left-20' : '' %> re-rule-show">
  <div class="<%= re_rule_verify.blank? ? 're-bluebox' : 're-redbox' %> re-rule-status-<%= re_rule_verify.blank? ? 'valid' : 'verify' %>"><%= re_rule.title %></div>
  <div class="<%= re_rule_verify.blank? ? 're-bluebox' : 're-redbox' %> no-top"> 
      <p class="top-5"><%= re_rule.summary %></p>

      <div class="top-10 float-right">
        <% if re_rule.re_rule_expected_outcomes.empty? %>
          <div class="re-rule-continue">Continue</div>
        <% end %>        
        <% unless re_rule.re_rule_expected_outcome_next.nil? %>
          <div class="re-rule-continue">Continue</div>
        <% end %>  
        <% re_rule.re_rule_expected_outcomes_start_pipeline.each do |re_rule_expected_outcome| %>
          <div class="re-rule-goto-pipeline"><%= re_rule_expected_outcome.pipeline_code %></div>
        <% end %>  
        <% unless re_rule.re_rule_expected_outcome_failure.nil? %>
          <div class="re-rule-stop-failure">Stop Failure</div>
        <% end %>  
        <% unless re_rule.re_rule_expected_outcome_success.nil? %>
          <div class="re-rule-stop-success">Stop Success</div>
        <% end %>  
      </div>
      <div class="clear"></div>  
    </div>          
</div>

<% unless local_last_rule %>
  <div class="span-1 last"> <div class="re-rule-next-show"></div> </div>
<% end %>
