<div class="rules-menu">
  <% RulesEngine::Discovery.rule_groups.each do |name, rule_classes| %>
    <% re_shadowbox do %>
      <a href="#" class="rule-class-list-toggle">
        <h5 class="rule-class-list-right"><%=h name %></h5>
      </a>  
      <div class="rule-class-list hide">
        <% rule_classes.each do |rule_class| %>
          <div class="yellowbox">
            <h5>
              <%= rule_class.options[:name] %>          
            </h5>
            <a href="#<%=@re_pipeline.id%>|<%= rule_class %>" class="rule-class-new"> <span>Add</span> </a>
            <a href="#<%=@re_pipeline.id%>|<%= rule_class %>" class="rule-class-help"> <span>Help</span> </a>
            <div class="clear"></div>
          </div>      
          <div class="clear top-5"></div>
        <% end %>    
      </div>  
    <% end %>
  <% end %>  

  <% re_shadowbox do %>
    <a href="#" class="rule-class-list-toggle">
      <h5 class="rule-class-list-down">All Rules</h5>
    </a>  
    <div class="rule-class-list">
      <% RulesEngine::Discovery.rule_classes.each do |rule_class| %>    
        <div class="yellowbox">
          <h5>
            <%= rule_class.options[:name] %>          
          </h5>
          <a href="#<%=@re_pipeline.id%>|<%= rule_class %>" class="rule-class-new"> <span>Add</span> </a>
          <a href="#<%=@re_pipeline.id%>|<%= rule_class %>" class="rule-class-help"> <span>Help</span> </a>
          <div class="clear"></div>
        </div>      
        <div class="clear top-5"></div>
      <% end %>
    </div>  
  <% end %>
</div>