<%#= :re_plan_id => 0 %>
<%#= :delete_path => re_workflow_path(@re_workflow) %>

<h4>
  <%= link_to("Edit Workflow Details", "#{re_plan_id}|#{@re_workflow.id}", :id => "re_workflow_edit", :class => "re-menu-workflow-edit") %>
</h4>
<div class="clear top-5"></div>

<h4>
  <%= link_to("Delete Workflow", "##{re_plan_id}|#{@re_workflow.id}", :id => "re_workflow_delete", :class => "re-menu-workflow-delete") %>
</h4>    
<div class="clear top-5"></div>

<div style="display:none">
  <%= re_form_for(@re_workflow, :url => delete_path, :html => {:method => :delete, :id => "re_workflow_delete_form"}) do |f| %>
  <% end %>  
</div>

<div class="clear top-5"></div>
<hr/>
<div class="clear top-5"></div>

<%= re_shadowbox do %>	
	<%= select_tag 're_rule_class_list', options_for_select([["All Rules", "all"]] + RulesEngine::Discovery.rule_groups.map {|name, rule_classes| [name, name.downcase.gsub(/[^a-z0-9]+/i, '_')] }) %>
	<div class="clear top-5"></div>

	<% RulesEngine::Discovery.rule_groups.each do |name, rule_classes| %>
    <div class="re-xtra-rule-list hide" id="re_rule_class_name_<%= name.downcase.gsub(/[^a-z0-9]+/i, '_') %>">
      <% rule_classes.each do |rule_class| %>
				<div class="re-yellowbox">
				<a href="#<%=re_plan_id%>|<%=@re_workflow.id%>|<%= rule_class %>" class="re-menu-rule-new"> <span>Add</span> </a>
				<a href="#<%=re_plan_id%>|<%=@re_workflow.id%>|<%= rule_class %>" class="re-menu-rule-help"> <span>Help</span> </a>
				<p class="re-xtra-rule-name"><%= rule_class.options[:display_name] %></p>
				<div class="clear"></div>
      </div>      
      <div class="clear top-5"></div>
      <% end %>    
    </div>  
	<% end %>

	<div class="re-xtra-rule-list" id="re_rule_class_name_all">
  	<% RulesEngine::Discovery.rule_classes.each do |rule_class| %>    
			<div class="re-yellowbox">
     		<a href="#<%=re_plan_id%>|<%=@re_workflow.id%>|<%= rule_class %>" class="re-menu-rule-new"> <span>Add</span> </a>
     		<a href="#<%=re_plan_id%>|<%=@re_workflow.id%>|<%= rule_class %>" class="re-menu-rule-help"> <span>Help</span> </a>
       	<p class="re-xtra-rule-name"><%= rule_class.options[:display_name] %></p>
      	<div class="clear"></div>
     	</div>      
    	<div class="clear top-5"></div>
		<% end %>		
	</div>	
<% end %>


<div style="display:none">
  <div id="re_workflow_action_confirm">
    <div class="span-14 last">
      <%= re_whitebox do %>    
        <h3 class="re-hdr-workflow-alert"><span class="red">Confirm :</span><span id="re_workflow_action_title"></span></h3>
        <div class="clear top-5"></div>
        <hr/>
        <div class="clear top-5"></div>
  
        <div class="span-13 last" id="re_workflow_action_content_code">
        </div>  
        <div class="clear"></div>

        <div class="span-12 prepend-1 last">
          <h6 id="re_workflow_action_content_title"></h6>
        </div>    
        <div class="clear"></div>
        <%= re_button_link_green('Action', "#", :id => "re_workflow_action_ok") %>
        <%= re_button_link_orange('Cancel', "#", :id => "re_workflow_action_cancel") %>
      <% end %>  
    </div>
  </div>
  
  <div id="re_rule_delete_confirm">
    <div class="span-11 last">
      <%= re_whitebox do %>    
        <h3 class="re-hdr-rule-alert"><span class="red">Confirm :</span> Delete Rule</h3>    
        <div class="clear top-5"></div>
        <hr/>
        <%= re_button_link_green('Delete', "#", :id => "re_rule_delete_ok") %>
        <%= re_button_link_orange('Cancel', "#", :id => "re_rule_delete_cancel") %>
        <div class="clear"></div>

      <% end %>  
    </div>
  </div>
  
</div>