<%#= :re_plan_id => @re_plan.id || 0 %>
<%#= :delete_path => re_workflow_rule_path(@re_workflow, re_rule) %>
<%#= :move_up_path => move_up_re_workflow_rule_path(@re_workflow, re_rule) %>
<%#= :move_down_path => move_down_re_workflow_rule_path(@re_workflow, re_rule) %>

<% re_rule_error = re_rule.rule_error %>
<% local_first_rule = local_assigns[:first_rule] && first_rule  %>
<% local_last_rule = local_assigns[:last_rule] && last_rule  %>

<div class="<%= re_rule_error.blank? ? 're-bluebox' : 're-redbox' %>">
	<h4 class="float-left  re-sts-rule-<%= re_rule_error.blank? ? 'valid' : 'verify' %>"><%=h re_rule.title %></h4>
	<div class="float-right">
		<%= link_to("<span>Edit</span>".html_safe, "##{re_plan_id}|#{@re_workflow.id}|#{re_rule.id}", :class => "re-list-rule-edit") %>
		<%= link_to("<span>Delete</span>".html_safe, "##{re_plan_id}|#{@re_workflow.id}|#{re_rule.id}", :class => "re-list-rule-delete") %>
		<%= link_to("<span>Move Down</span>".html_safe, "##{re_plan_id}|#{@re_workflow.id}|#{re_rule.id}", :class => "#{local_last_rule ? 're-list-rule-move-down-off' : 're-list-rule-move-down'}") %>
		<%= link_to("<span>Move Up</span>".html_safe, "##{re_plan_id}|#{@re_workflow.id}|#{re_rule.id}", :class => "#{local_first_rule ? 're-list-rule-move-up-off' : 're-list-rule-move-up'}") %>
	</div>
	<div class="clear"></div>
</div>
<div class="<%= re_rule_error.blank? ? 're-bluebox' : 're-redbox' %> no-top"> 
	<div class="span-12">
		<p class="top-5">
			<span class="re-code blue"><%=h re_rule.rule.options[:display_name]%>:</span>
			<%=h re_rule.summary %>
		</p>
	</div>
	<div class="span-5 float-right">
		<div class="float-right red smalltext right-5">
			<%=h re_rule_error %>
		</div>
		<div class="top-5 clear"></div>
		<% re_rule.rule.expected_outcomes.each do |expected_outcome| %>
			<% if expected_outcome[:outcome] == RulesEngine::Rule::Outcome::STOP_SUCCESS %>	
				<div class="re-xtra-rule-stop-success"><%= expected_outcome[:title] || 'Stop Success' %></div>
			<% elsif expected_outcome[:outcome] == RulesEngine::Rule::Outcome::STOP_FAILURE %>	
				<div class="re-xtra-rule-stop-failure"><%= expected_outcome[:title] || 'Stop Failure' %></div>
			<% elsif expected_outcome[:outcome] == RulesEngine::Rule::Outcome::START_WORKFLOW %>	
				<div class="re-xtra-rule-start-workflow"><%= expected_outcome[:title] || 'Start Workflow' %></div>
			<% elsif expected_outcome[:outcome] == RulesEngine::Rule::Outcome::NEXT %>
				<div class="re-xtra-rule-continue"><%= expected_outcome[:title] || 'Continue' %></div>
			<% end %>        
		<% end %>  
	</div>
	<div class="clear"></div>  
</div>          


<% unless local_last_rule %>
  <div class="prepend-8 span-2"><div class="re-xtra-rule-next-down"></div></div>
	<div class="clear"></div>
<% end %>

<div style="display:none">
  <%= re_form_for(re_rule, :url => delete_path, :html => {:method => :delete, :id => "re_rule_delete_form_#{re_rule.id}"}) do |f| %>
  <% end %>  
  
  <%= re_form_for(re_rule, :url => move_up_path, :html => {:method => :put, :id => "re_rule_move_up_form_#{re_rule.id}"}) do |f| %>
  <% end %>  
  
  <%= re_form_for(re_rule, :url => move_down_path, :html => {:method => :put, :id => "re_rule_move_down_form_#{re_rule.id}"}) do |f| %>
  <% end %>  
</div>  
