<% re_plan_status = re_plan_status(@re_plan) %>
<% re_plan_error = @re_plan.plan_error %>

<div class="re-infobox">
  <div class="span-15">
    <h4 class="re-sts-plan-<%= re_plan_error.blank? ? re_plan_status : 'verify' %>">
			<%=h @re_plan.title %>
			<span class="re-code blue">(<%=h @re_plan.code%>)</span>
		</h4>
  </div>  
  <div class="span-4 last">	
  </div>  
  <div class="clear top-5"></div>
	<hr/>

  <div class="span-14 prepend-1">
		<p><%=h @re_plan.description%></p>
  </div>  
	<div class="span-5 last">
    <% if re_plan_error.blank? %>
			<em class="float-right top-2 re-sts-plan-<%= re_plan_status %>"><%= re_plan_status.titleize %>  <%= re_plan_version(@re_plan) %></em>
    <% else %>
      <em class="float-right top-2 re-sts-plan-verify"><%= re_plan_error %> <%= re_plan_version(@re_plan) %></em>
    <% end %>
	</div>
  <div class="clear"></div>
</div>  

<div style="display:none">
  <%= re_form_for(@re_plan, :url => publish_re_plan_path(@re_plan), :html => {:method => :put, :id => "re_plan_publish_form"}) do |f| %>
		<%= hidden_field_tag(:tag) %>
  <% end %>  

  <%= re_form_for(@re_plan, :url => revert_re_plan_path(@re_plan), :html => {:method => :put, :id => "re_plan_revert_form"}) do |f| %>
  <% end %>  

  <%= re_form_for(@re_plan, :url => re_plan_path(@re_plan), :html => {:method => :delete, :id => "re_plan_delete_form"}) do |f| %>
  <% end %>  
</div>