<% local_hide = local_assigns[:hide] && hide  %>
<% re_workflow_error = re_workflow.workflow_error %>

<div id="re_workflow_index_<%= re_workflow.id %>" style="<%= local_hide ?  'display:none' : '' %>">
  <div class="re-infobox">
    <div class="span-9">
      <h4 class="re-sts-workflow-<%= re_workflow_error.blank? ? 'valid' : 'verify' %>">
				<%=h re_workflow.title %>				
				<span class="re-code blue">(<%=h re_workflow.code%>)</span>
			</h4>
    </div>  
    <div class="span-5 last">
			<% if rules_engine_editor? %>
       	<h4 class="float-right"><%= link_to("Edit", change_re_workflow_path(re_workflow), :class => "re-menu-workflow-change") %></h4>
			<% end %>
			<h4 class="float-right"><%= link_to("View", re_workflow_path(re_workflow), :class => "re-menu-workflow-show") %></h4>    
    </div>  

		<div class="clear top-5"></div>
		<hr/>

    <div class="span-1">
			<a href="#<%= re_workflow.id %>" class="re_workflow_preview">
				<div class="re-xtra-workflow-preview"></div>
			</a>	
    </div>
    <div class="span-9">
			<p><%=h re_workflow.description%></p>
    </div>  
		<div class="span-4 last">
      <% if re_workflow_error.blank? %>
				<em class="float-right top-5 re-sts-workflow-valid">Valid</em>
      <% else %>
        <em class="float-right top-5 red"><%= re_workflow_error %></em>
      <% end %>
		</div>
    <div class="clear"></div>
  </div>  
	
	<div class="clear top-5"></div>  
</div>
