<% re_workflow_error = @re_workflow.workflow_error %>

<div class="span-14">
	<h4 class="re-sts-workflow-<%= re_workflow_error.blank? ? 'valid' : 'verify' %>">
		<%=h @re_workflow.title %>
		<span class="re-code blue">(<%=h @re_workflow.code%>)</span>
	</h4>
</div>  

<div class="clear top-5"></div>
<hr/>

<div class="span-9 prepend-1">
	<p><%=h @re_workflow.description%></p>
</div>  
<div class="span-4 last">
	<% if re_workflow_error.blank? %>
		<em class="float-right top-5 re-sts-workflow-valid">Valid</em>
	<% else %>
		<em class="float-right top-5 re-sts-workflow-verify"><%= re_workflow_error %></em>
	<% end %>
</div>