<% set_re_javascript_include ['rules_engine/re_workflow_preview', 'rules_engine/re_workflow_plan', 'rules_engine/re_plan_preview'] %>
<% set_re_breadcrumbs link_to("All Workflows", re_workflows_path, :class => "re-bc-workflow-list"), '<span class="re-bc-workflow-show">View Workflow</span>' %>

<div class="span-2">
 	<div class="re-xtra-workflow-title-single"><span>Workflow</span></div>
</div>
<div class="span-15 border">  
	<div class="re-infobox">
		<%= render '/re_workflows/show' %>    
		<div class="clear"></div>
	</div>	

	<div class="span-2 pull-1">
	 	<div class="re-xtra-rule-title-plural"><span>Rules</span></div>
	</div>	
	<div class="span-14 last">
 		<div class="re-infobox no-top">    	
			<%= render '/re_workflows/rule_empty', :hide => !@re_workflow.re_rules.empty? %>

    	<% @re_workflow.re_rules.each do |re_rule | %>
      	<%= render '/re_workflows/rule_show', :re_rule => re_rule, 
																							:last_rule => re_rule == @re_workflow.re_rules[-1] %>
      <% end %>
   		<div class="clear"></div>
		</div>	
  </div>
</div>  
<div class="span-7 last">      
	<div class="top-5"></div>
	
	<% if rules_engine_editor? %>
		<h4>
			<%= link_to("Edit Workflow", change_re_workflow_path(@re_workflow), :class => "re-menu-workflow-change") %>
		</h4>	
		<div class="clear top-5"></div>
		
		<hr/>
		<div class="clear top-5"></div>

	<% end %>

	<%= render :partial => '/re_workflows/plan_prepare' %>
	<div class="clear"></div>    
	
</div>

<div class="clear"></div>
