<div class="clear prepend-1 span-18">
  <h2 class="rule-edit"> Edit <%= @rule_class.options[:name] %></h2>
  <div class="clear top-10"></div>

  <% re_form_for(@re_rule, :url => re_pipeline_re_rule_path(@re_pipeline, @re_rule), :method => :post, :span => "3x13", :html => {:id => "rule_edit_form"}) do |f| %>
    <%= f.error_messages :message => "Unable To Update Rule : #{@rule_class.options[:name]}" %>
    <% unless @rule.errors.empty? %>
      <div id="errorExplanation" class="errorExplanation">
        <% @rule.errors.each do |error| %>
          <p><%= error %></p>
        <% end %>  
      </div>
    <% end %>  
    
    <% whitebox do %>    
    
      <%= render(@rule_class.options[:edit_template], :f => f) %>
      
      <div class="clear"></div>
  	  <%= button_submit_green('Update', :id => "rule_edit_update") %>
  	  <%= button_link_orange('Cancel', change_re_pipeline_path(@re_pipeline), :id => "rule_edit_cancel") %>
    <% end %>
  <% end %>
</div>  
<div class="clear"></div>