<div class="re-job-show span-18">

		<div class="float-left">
			<h5>
				<span class="blue">Job Id :</span> <%= @re_job.id %>
			</h5>	
		</div>	
		<div class="float-right">
			<h5>
				<span class="blue">Created :</span> <%= @re_job.created_at.strftime('%d %b %Y - %H:%M:%S') %>
			</h5>
		</div>	
	<div class="clear"></div>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="data" id="re_job_audit_table">
	   <% @re_job_audits.each do | re_job_audit | %>
	     <tr class="<%= cycle('', 'odd') %>">
	       <td width="150px">
	<%  
					if re_job_audit.audit_code == RulesEngine::Audit::AUDIT_INFO
						job_class = 're-job-info'
					elsif re_job_audit.audit_code == RulesEngine::Audit::AUDIT_FAILURE
						job_class = 're-job-error'
					else
						job_class = 're-job-success'
					end
	%>
					<div class="<%= job_class %>">
						<%= re_job_audit.audit_date.strftime('%H:%M:%S') %>
					</div>	
				</td>
				<td>
					<%= re_job_audit.audit_message%>
				</td>
	     </tr>
	   <% end %>
	</table>
	<%= re_button_link_red('Close', re_jobs_path, :id => "re_jobs_close") %>
</div>    
