<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title> Rules Engine - <%= controller.controller_name.humanize %> </title>

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.blockUI', 'jquery.autocomplete.pack', 'thickbox', 're_view', :cache => true %>

  <%= stylesheet_link_tag 're_view', 're_view_form', 're_view_button', 
                          're_view_error', 're_view_box', 're_view_navigate', 're_view_table', 
													're_pipeline',  
													'thickbox', 'jquery.autocomplete', :cache => true %>  
                          
  <%= yield :defer_re_javascript_include %>                          
</head>
<body>
  <div class="container"> 
		<div class="re">
			<div style="border-bottom:3px solid #CCC;">
				<div class="top-10 float-left">			
					<%= link_to image_tag('Demand_DV.jpg'), root_path %>
				</div>
				<div class="float-right">
		      <% if logged_in_as_admin? %>			      
		        <div>
		          <%= link_to 'Administrator', admin_path %>
		        </div>
		        <div class='top-10'>
				    <%= link_to 'Surveillance', surveillance_viewer_path, :class=> 'blue' %>
				  </div>            
				  <div class='top-5'>
				    <%= link_to 'Logout', user_logout_path, :class=> 'red' %>
				  </div>            
		      <% else %>
		        <div class="clear top-15">.</div>
					  <div class='top-20'>
					    <%= link_to 'Logout', user_logout_path, :class=> 'red' %>
					  </div>
		      <% end %>
				</div>	
				<div class="clear"></div>
			</div>			
      
      <%= yield :defer_re_breadcrumbs %>
      <%= yield :defer_re_subnav %>
      <%= re_alert %>
          
      <%= yield %>
      <div class="clear"></div>

      <%#= render :partial => '/layouts/footer'  %>
			
			<div id="tb_temp_frame"><div id="tb_temp_container"></div>
		</div>
   </div>		
</body>
</html>
