<% re_pipeline_status = re_pipeline_status(@re_pipeline) %>
<% pipeline_error = @re_pipeline.pipeline_error %>

<div class="span-16">
  <div class="re-infobox">
    <div class="span-10" id="re_pipeline_code">
      <h3 class="re-pipeline-status-<%= @pipeline_error.blank? ? re_pipeline_status : 'verify' %>"><%=h @re_pipeline.code%></h3>
    </div>  
    <div class="span-5 last">      
      <% if pipeline_error.blank? %>
        <em class="float-right re-pipeline-status-<%= re_pipeline_status %>" id="pipeline_status"><%= re_pipeline_status.titleize %></em>
      <% else %>
        <em class="float-right re-pipeline-status-verify"><%= pipeline_error %></em>
      <% end %>    
    </div>    
    
    <div class="clear"></div>

    <div class="span-14 prepend-1 last">
      <h5 id="re_pipeline_title"> <%=h @re_pipeline.title%></h5>
    </div>    
    <div class="clear"></div>
  
    <div class="span-12 prepend-1 append-1 last">
     	<%=h @re_pipeline.description%>
    </div>
    <div class="clear"></div>
    
  </div>  
  <div class="clear top-5"></div>
</div>
<div class="clear"></div>

<div style="display:none">
  <% re_form_for(@re_pipeline, :url => activate_re_pipeline_path(@re_pipeline), :html => {:method => :put, :id => "re_pipeline_activate_form"}) do |f| %>
  <% end %>  

  <% re_form_for(@re_pipeline, :url => deactivate_re_pipeline_path(@re_pipeline), :html => {:method => :put, :id => "re_pipeline_deactivate_form"}) do |f| %>
  <% end %>  

  <% re_form_for(@re_pipeline, :url => revert_re_pipeline_path(@re_pipeline), :html => {:method => :put, :id => "re_pipeline_revert_form"}) do |f| %>
  <% end %>  

  <% re_form_for(@re_pipeline, :url => re_pipeline_path(@re_pipeline), :html => {:method => :delete, :id => "re_pipeline_delete_form"}) do |f| %>
  <% end %>  
</div>