<div class="clear prepend-1 span-18">
  <h2 class="re-pipeline-edit">Edit Pipeline Details</h2>
  <div class="clear top-10"></div>
  
  <% re_form_for(@re_pipeline, :url => re_pipeline_path(@re_pipeline), :method => :post, :span => "3x13", :html => {:id => "re_pipeline_edit_form"}) do |f| %>
    <%= f.error_messages :message => "Unable To Update Pipeline" %>
    <% re_whitebox do %>    
      <%= re_form_text("Code", @re_pipeline.code, :span => "3x13", :hint => "<strong>NOTE :</strong> the pipeline code cannot be changed") %>
      <div class="clear top-5"></div>
      
      <%= f.text_field(:title, :required => true) %>
      <%= f.text_area(:description) %>
    
      <div class="clear"></div>
  	  <%= re_button_submit_green('Update', :id => "re_pipeline_edit_update") %>
  	  <%= re_button_link_orange('Cancel', change_re_pipeline_path(@re_pipeline), :id => "re_pipeline_edit_cancel") %>
    <% end %>
  <% end %>
</div>  
<div class="clear"></div>