<% local_hide = local_assigns[:hide] && hide  %>
<% re_pipeline_status = re_pipeline_status(re_pipeline) %>
<% re_pipeline_error = re_pipeline.pipeline_error %>

<div class="span-16" id="re_pipeline_index_<%= re_pipeline.id %>" style="<%= local_hide ?  'display:none' : '' %>">
  <div class="re-infobox">
    <div class="span-10">
      <h4 class="re-pipeline-status-<%= re_pipeline_error.blank? ? re_pipeline_status : 'verify' %>"><%=h re_pipeline.code %></h4>
    </div>  
    <div class="span-5 last">
      <div>
				<% if rules_engine_editor? %>
        	<h4 class="re-pipeline-change float-right"><%= link_to("Edit", change_re_pipeline_path(re_pipeline)) %></h4>    
				<% end %>
        <h4 class="re-pipeline-show float-right"><%= link_to("View", re_pipeline_path(re_pipeline)) %></h4>    
      </div>
    </div>  
    <div class="clear"></div>

    <div class="span-1">
			<div class="clear top-5"></div>
			<a href="#<%= re_pipeline.id %>" class="re-pipeline-rule-list-toggle">
				<% if  re_pipeline.re_rules.empty? %>
					<div class="left-5 re-pipeline-rule-list-right"><span class="red">Rules</span></div>
				<% else %>		
	        <div class="left-5 re-pipeline-rule-list-right"> Rules </div>
				<% end %>	
			</a>	
    </div>
    <div class="span-9">
      <h6 class="left-20"> <%=h re_pipeline.title%></h6>
    </div>  
    <div class="span-5 last">
      <% if re_pipeline_error.blank? %>
				<em class="float-right right-10 re-pipeline-status-<%= re_pipeline_status %>"><%= re_pipeline_status.titleize %></em>
      <% else %>
        <em class="float-right right-10 red"><%= re_pipeline_error %></em>
      <% end %>
    </div>  
    <div class="clear"></div>
  
    <div class="span-14 prepend-1 append-1 last">
			<div class="left-20">
				<div class="left-5">
					<%=h re_pipeline.description%>
				</div>	
			</div>      
    </div>
    <div class="clear"></div>
    
  </div>    
  <div class="re-infobox no-top hide" id="re_pipeline_rule_list_<%= re_pipeline.id %>">        
    <%= render '/re_pipeline_rules/empty.html', :re_pipeline => re_pipeline %>
    
    <% re_pipeline.re_rules.each_with_index do |re_rule, index | %>
      <%= render '/re_pipeline_rules/index', :re_rule => re_rule, :new_row => (index != 0 && (index % 2) == 0), :first_rule => re_rule == re_pipeline.re_rules[0], :last_rule => re_rule == re_pipeline.re_rules[-1] %>
    <% end %>
    
    <div class="clear"></div>
  </div>  

  <div class="clear top-5"></div>  
</div>
<div class="clear"></div>  
