<div class="clear prepend-1 span-18">
  <h2 class="pipeline-new"> New Pipeline</h2>
  <div class="clear top-10"></div>
  
  <% dougo_form_for(@re_pipeline, :url => re_pipelines_path, :method => :post, :span => "3x13", :html => {:id => "pipeline_new_form"}) do |f| %>
    <%= f.error_messages :message => "Unable To Create Pipeline" %>
    <% whitebox do %>    
      <%= f.text_field(:title, :required => true) %>
      <%= f.text_field(:code, :required => true, :hint => "must be unique") %>
      <%= f.text_area(:description) %>
    
      <div class="clear"></div>
  	  <%= button_submit_green('Insert', :id => "pipeline_new_insert") %>
  	  <%= button_link_orange('Cancel', re_pipelines_path, :id => "pipeline_new_cancel") %>
    <% end %>
  <% end %>
</div>  
<div class="clear"></div>