<%= set_re_subnav "Rules Engine Template ", link_to("- List Pipelines", re_pipelines_path) %>

<div class="span-24"> 
  <% %w(h1 h2 h3 h4 h5 h6).each do |type| %>
    <hr/>
    <<%= type %>><%= type %></<%= type %>> 
  <% end %>  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> 

  <% %w(warning boldblack black white grey red dkgreen blue lightblue green brown).each do |type| %>
    <p class="<%= type %>"><%= type %></p> 
  <% end %>  
</div>  
<hr>

<div class="span-24"> 
  <h1>Navigate</h1> 
  <%= re_breadcrumbs link_to("level one", "#"), link_to("level two", "#"), "level three" %>
  <%= re_breadcrumbs_right link_to("level one", "#"), link_to("level two", "#"), "level three", link_to("link_right", "#")  %>
  <%= re_subnav "Heading", link_to("level one", "#"), link_to("level two", "#"), link_to("level three", "#"), link_to("level four", "#") %>

</div>  
<hr>

<h1>Boxes</h1>   
  <div class="span-12">
    <h3>Whitebox</h3>   
    <% re_whitebox do %>
      <div class="span-11 last">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> 
      </div>  
    <% end %>  
  </div>  
  
  <div class="span-12 last">
    <h3>Shadowbox</h3>   
    <% re_shadowbox do %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> 
    <% end %>  
  </div>
  
  <% %w(error notice success).each do |type| %>
    <div class="span-6 prepend-1 <%= type == 'success' ?  'last' : ''%>">
      <h3><%= type %></h3>   
      <div class="span-5 <%= type %>">
        <p>Ut enim ad minim veniam </p> 
      </div>    
    </div>
  <% end %>
  <div class="clear top-10"></div>
  
  <% %w(bluebox greenbox redbox dkgreenbox brownbox yellowbox).each do |type| %>
    <div class="span-4 <%= type == 'yellowbox' ?  'last' : ''%>">
      <div class="re-<%= type %>-header">re-<%= type %> header</div>   
      <div class="re-<%= type %>">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> 
      </div>    
    </div>
  <% end %>  
  <div class="clear"></div>

   <div class="span-8 prepend-5">
     <h3>re-infobox</h3>   
     <div class="re-infobox">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> 
     </div>    
   </div>
  <div class="clear"></div>

<hr>

<h1>Button Links</h1>   
<div class="span-24 showgrid">
  <% %w(3 4 5 6 ).each do |action| %>
    <%= re_button_link_red("Button " + action, "#", :span => action) %>
  <% end %>
  <div class="clear"></div>
  <% %w(red gray blue green orange).each do |color| %>
    <%= re_button_link(color, "#", color) %>
  <% end %>  
</div>  
<hr>

<h1>Button Submit</h1>   
<div class="span-24 showgrid">
  <% %w(3 4 5 6 ).each do |action| %>
    <%= re_button_submit_red("Button " + action, :span => action) %>
  <% end %>
  <div class="clear"></div>
  <% %w(red gray blue green orange).each do |color| %>
    <%= re_button_submit(color, color) %>
  <% end %>  
</div>  
<hr>

<div class="span-23 prepend-1 last showgrid">  
  <h1>Build Forms</h1>   
  <%= re_form_text "TEXT FIELD LABEL",  "TEXT FIELD VALUE" %>
  <%= re_text_field("TEXT FIELD", "text_field_1", "text_field_1")%>
  <%= re_password_field("PASSWORD FIELD", "text_field_1", "text_field_1")%>
  <%= re_check_box "CHECKBOX FIELD", 'accept'%>
  <%= re_check_box "CHECKBOX FIELD", 'accept', "1", "1", :required => true %>
  <%= re_select "SELECT FIELD",  "people", "<option>David</option>" %>
  <%= re_text_area "TEXT AREA FIELD",  "text_area", "", :size => "30x10"  %> 


  <%= re_text_field("TEXT FIELD 5x16", "text_field_1", "text_field_1", :span => '5x16', :class => "showgrid")%>
  <%= re_text_field("TEXT FIELD 5", "text_field_1", "text_field_1", :span => '5', :class => "showgrid")%>
  <%= re_text_field("TEXT FIELD", "text_field_1", "text_field_1", :error => "error message")%>
  <%= re_text_field("TEXT FIELD", "text_field_1", "text_field_1", :hint => "hint message")%>
  <%= re_text_field("TEXT FIELD", "text_field_1", "text_field_1", :text => "TEXT MESSAGE")%>
  <%= re_text_field("REQUIRED", "text_field_1", "text_field_1", :required => true)%>
  <%= re_text_field("DISABLED", "text_field_1", "text_field_1", :disabled => true)%> 
  <div class="clear"></div>
</div>

<div class="span-23 prepend-1 last showgrid">  
  <h3>2 column</h3>
  <div class="span-11">
    <%= re_text_field("LEFT", "text_field_1", "text_field_1", :span => "2x9")%>
  </div>
  <div class="span-11 last">
    <%= re_text_field("RIGHT", "text_field_1", "text_field_1", :span => "2x9", :class => "last")%>
  </div>
  <div class="clear"></div>

  <h3>3 column</h3>
  <div class="span-6">
    <%= re_text_field("LEFT", "text_field_1", "text_field_1", :span => "2x4", :size => 15)%>
  </div>
  <div class="span-6 prepend-1">
    <%= re_text_field("CENTER", "text_field_1", "text_field_1", :span => "2x4", :size => 15)%>
  </div>
  <div class="span-6 prepend-1 last">
    <%= re_text_field("RIGHT", "text_field_1", "text_field_1", :span => "2x4", :size => 15)%>
  </div>
  <div class="clear"></div>

  <h3>4 column</h3>
  <div class="span-4">
    <%= re_text_field("AAA", "text_field_1", "text_field_1", :span => "1x3", :size => 10)%>
  </div>
  <div class="span-4 prepend-1">
    <%= re_text_field("BBB", "text_field_1", "text_field_1", :span => "1x3", :size => 10)%>
  </div>
  <div class="span-4 prepend-1">
    <%= re_text_field("CCC", "text_field_1", "text_field_1", :span => "1x3", :size => 10)%>
  </div>
  <div class="span-4 prepend-1 last">
    <%= re_text_field("DDD", "text_field_1", "text_field_1", :span => "1x3", :size => 10)%>
  </div>
</div>  


<div class="span-23 prepend-1 last showgrid">  
  <h1>re_form_for</h1>   
  <% re_form_for(:demo_form) do |f| %>
    <%= f.text_field("default_4x8")%>
  <% end %>

  <% re_form_for(:demo_form, :span => "6x8") do |f| %>
    <%= f.text_field("default_6x8")%>
    <%= f.text_field("override_5x9", :span => "5x9")%>
  <% end %>
  <hr>

  <h1>re_build_form_field</h1>   
  <%= re_build_form_field("FORM FIELD (12)",     {:class => "showgrid clear"})%>
  <%= re_build_form_field("FORM FIELD 11",       {:span => "11", :class => "showgrid clear"})%>
  <%= re_build_form_field("FORM FIELD 10",       {:span => "10", :class => "showgrid clear"})%>
  <%= re_build_form_field("FORM FIELD 9",        {:span => "9", :class => "showgrid clear"})%>
  <%= re_build_form_field("FORM FIELD",          {:class => "showgrid"})%>
  <%= re_build_form_field("FORM FIELD DISABLED", {:class => "showgrid", :disabled => true})%>
  <hr>

  <h1>re_build_form_label</h1>   
  <%= re_build_form_label("LABEL DEFAULT (4)",     {:class => "showgrid clear"})%>
  <%= re_build_form_label("LABEL SPAN 5",          {:span => "5", :class => "showgrid clear"})%>
  <%= re_build_form_label("LABEL SPAN 4",          {:span => "4", :class => "showgrid clear"})%>
  <%= re_build_form_label("LABEL SPAN 3",          {:span => "3", :class => "showgrid clear"})%>

  <%= re_build_form_label("LABEL ERROR",    {:error => "error message", :class => "clear"})%>
  <%= re_build_form_label("LABEL DISABLED", {:disabled => true, :class => "clear"})%>
  <%= re_build_form_label("LABEL REQUIRED", {:required => true, :class => "clear"})%>
  <%= re_build_form_label("LABEL REQUIRED EX", {:required => true, :disabled => true, :class => "clear"})%>
  <hr>

  <h1>re_build_form_data</h1>   
  <%= re_build_form_data("DATA DEFAULT (8)",     {:class => "showgrid clear"})%>
  <%= re_build_form_data("DATA SPAN 7",          {:span => "7", :class => "showgrid clear"})%>
  <%= re_build_form_data("DATA SPAN 6",          {:span => "6", :class => "showgrid clear"})%>
  <%= re_build_form_data("DATA SPAN 5",          {:span => "5", :class => "showgrid clear"})%>
  <%= re_build_form_data("DATA ERROR SPAN 10",   {:class => "clear", :error => "error message"})%>
  <%= re_build_form_data("DATA HINT SPAN 10",    {:class => "clear", :hint => "hint message"})%>
  <%= re_build_form_data("DATA TEXT SPAN 10",    {:class => "clear", :label => "FORM LABEL"})%>
  <%= re_build_form_data("DATA DISABLED",        {:class => "clear", :disabled => true})%>
  <hr>
</div>
