<% set_re_javascript_include ['rules_engine/re_workflow_preview'] %>
<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), '<span class="re-bc-plan-show">View Plan</span>' %>

<div class="span-17 border">      
	<div class="span-1">
		<div class="re-xtra-plan-title-single"><span>Plans</span></div>
	</div>	
	<div class="span-16 last">      
		<%= render '/re_plans/show' %>
		
		<div class="span-2 pull-1">
		 	<div class="re-xtra-workflow-title-plural"><span>Workflow</span></div>
		</div>
		<div class="span-15 last">
	 		<div class="re-infobox no-top">    	

	   		<%= render '/re_workflows/empty', :hide => !@re_plan.re_workflows.empty? %>    

		    <% @re_plan.re_workflows.each do |re_workflow | %>
		      <%= render '/re_plans/workflow_show', :re_plan => @re_plan, :re_workflow => re_workflow %>
		    <% end %>
	
				<div class="clear"></div>
			</div>	
	 	</div>  
		
	</div>
	<div class="clear"></div>
</div>  

<div class="span-7 last">      
	<div class="clear top-5"></div>

	<% if rules_engine_editor? %>
		<h4>
			<%= link_to("Edit Plan", change_re_plan_path(@re_plan), :class => "re-menu-plan-change") %>
		</h4>    
		
		<div class="clear top-5"></div>
		<hr/>
		<div class="clear top-5"></div>
	<% end %>

	<h4>
		<div class="re-menu-plan-history">Published History</div>	
	</h4>
	
	<% RulesEngine::Publish.publisher.versions(@re_plan.code).each do |version| %>
		<div class="clear top-2"></div>
		<h6 class="float-left left-5">	
			<%= version[:version] %>
		</h6>	
		<h6 class="float-right">	
			<%= Time.parse(version[:published_at]).strftime('%d %b %Y - %H:%M:%S') %>
		</h6>	
		<div class="clear top-2"></div>
		<hr/>
	<% end %>		

	<div class="clear top-10"></div>
	
	<h4>
		<div class="re-menu-process-list">Process History</div>		
	</h4>
	<div class="clear top-5"></div>
</div>

<div class="clear"></div>
